<footer class="footer">
  <div class="container">
      <p class="footer__text">&copy; 2025 NGO Kakheti Georgia. All rights reserved.</p>
      <nav>
          <ul class="footer__nav">
              <li><a href="/">მთავარი</a></li>
              <li><a href="/about">ჩვენს შესახებ</a></li>
              <li><a href="/contact">კონტაქტი</a></li>
          </ul>
      </nav>
  </div>
</footer>
