<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="{{ '/assets/images/ngoLogo.png' | url }}" alt="logo" class="logo">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">მთავარი</a>
          </li>
          <li>
            <a href="/blog/">სიახლეები</a>
          </li>
          <li>
            <a href="/aboutUs/">ჩვენს შესახებ</a>
          </li>
          <li>
            <a href="/contact/">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>