---
title: ჩვენს შესახებ
layout: 'base.njk'
---
<section class="about-us">
    <div class="about-container">
      <h1 class="abtSection-title">ჩვენს შესახებ / About Us</h1>
      <p class="about-description">
        არამომგებიანი, არაკომერციული ორგანიზაცია დაფუძნდა 2001 წელს, რომლის შემადგენლობაში შედის სრული და ნახევარი შტატის მომუშავე პერსონალი. ორგანიზაცია ანხორციელებს პროექტებს საქართველოს მასშტაბით. <br> <br> “Kakheti” is an independent, non-governmental organization based in Akhmeta. It was   
        registered in  2001.
      </p>
      
      <h2 class="sub-title">ორგანიზაციის მისია / Mission of the organization</h2>
      <ul class="mission-list">
        <li>საზოგადოების პრობლემების გამოვლენა და მათი გადაჭრა თანამონაწილეობის მეთოდების გამოყენებით.</li>
        <li>თვითკმარობის ხელშეწყობა სოციალურად დაუცველი ოჯახების სოციალური, ეკონომიკური და საგანმანათლებლო კეთილდღეობის გაუმჯობესება.</li>
        <li>ლტოლვილების/დევნილების და ადგილობრივი მოსახლეობის ფსიქოლოგიური დახმარების გაწევა.</li>
        <li>მოსახლეობაში გენდერული პრობლემების გადაჭრა.</li>
        <li>სამშენებლო-სარეაბილიტაციო პროგრამების განხორციელება მოსახლეობის სოციალურ-ეკონომიკური მდგომარეობის გაუმჯობესების მიზნით.</li>
        <li>მცირე ბიზნესის განვითარებისა და მოსახლეობის დასაქმების ხელშეწყობა.</li>
        <li>მოსახლეობის სანიტარულ და ჯანდაცვის პრობლემების კვლევა და გაუმჯობესება.</li>
        <li>გარემოსდაცვის მიმართულებით სხვადასხვა აქტივობების განხორციელება.</li>
        <br>
        <div class="dots">
          <svg width="60" height="10">
            <circle cx="10" cy="5" r="3" fill="darkblue" />
            <circle cx="30" cy="5" r="3" fill="darkblue" />
            <circle cx="50" cy="5" r="3" fill="darkblue" />
          </svg>
        </div>
        <br>
        <li>To reveal community problems and solve them applying complicity methods.</li>
        <li>To promote self-sufficiency and improve the social, economic and educational welfare of refugees, IDP’s and other vulnerable families.</li>
        <li>To provide psychological aid to the refugees and local population.</li>
        <li>To solve gender problems among population.</li>
        <li>To implement the construction and rehabilitation programs for the improvement of social-economic conditions of the population.</li>
        <li>To promote small-scale business development in the country and employment of the population.</li>
        <li>To research and solve the sanitation and health care problems within the population.</li>
        <li>To protect environmental  with the various projects / activities  implementation.</li>
      </ul>
      
      <h2 class="sub-title">ჩვენი მხარდამჭერი ორგანიზაციები (2001 - 2025) <br> <br> Our Donor Organizations   ( 2001-2025 )</h2
      <div class="partners">
        <ul class="partners-list">
          <li>UNHCR</li>
          <li>UNICEF</li>
          <li>IRC (International Rescue Committee)</li>
          <li>WFP (World Food Programme)</li>
          <li>U.S. Embassy</li>
          <li>Netherlands Embassy</li>
          <li>Lithuanian Embassy</li>
          <li>Japanese Embassy</li>
          <li>UNDP/GEF</li>
          <li>Estonian Embassy</li>
          <li>NDI</li>
          <li>ELKANA</li>
          <li>World Bank</li>
          <li>European Union</li>
          <li>CTC</li>
          <li>CSRDG</li>
          <li>Care Caucasus</li>
          <li>Fund Taso</li>
          <li>CENN</li>
          <li>SENSE</li>
          <li>UNDP/BIOFIN</li>
          <li>Horizon Europe-ის მიერ დაფინანსებული ევროკავშირის კვლევისა და ინოვაციების პროგრამის 17 წევრისგან შემდგარი კონსორციუმი, რომელიც აერთიანებს ევროპის 14 ქვეყანას.</li>
        </ul>
      </div>
    </div>
  </section>
  
