---
title: მთავარი
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">NGO Kakheti</h1>
        <p>არამომგებიანი, არაკომერციული ორგანიზაცია დაფუძნდა 2001 წელს,
           ორგანიზაცია ანხორციელებს პროექტებს საქართველოს მასშტაბით.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">გამორჩეული პოსტები</a>
          <a href="./blog" class="btn btn--neutral">სიახლეები</a>
        </div>
      </div>
      <div>
        <img src="assets/images/banner.jpg" alt="" class="hero__image">
      </div>
  </div>
</section>

<section class="founders container">
  <h2 class="founders-title">ჩვენი გუნდი / Our Team</h2>
  <div class="founders-grid">
    {%- for founder in collections.founders -%}
    <div class="founder-card">
      <img src="{{ founder.data.img }}" alt="{{ founder.data.name }} {{ founder.data.surename }}" class="founder-photo">
      <h3 class="founder-name">{{ founder.data.name }} {{ founder.data.surename }}</h3>
      <p class="founder-role">{{ founder.data.position }}</p>
    </div>
    {%- endfor -%}
  </div>
</section>


<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">გაეცანით სიახლეებს ჩვენს შესახებ</h2>
    
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    
    </ul>
        
  </div>
</section> 

